.master-btn {
  gap: 20px;
  display: flex;
}

.data-table-records {
  padding: 8px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.edit {
  background: none;
  color: #233250;
  border: none;
}
.delete {
  background: none;
  color: #da4520;
  border: none;
}

.btn-edit,
.btn-dlt {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.btn-filter {
  width: 120px;
  padding: 10px;
  color: #233250;
  background: none;
  border-radius: 10px;
  border: 1px solid #233250;
}

.btn-filter:hover {
  color: #ffffff;
  background-color: #233250;
}

.btn-create {
  width: 120px;
  padding: 10px;
  color: #ffffff;
  background: #405172;
  border-radius: 10px;
  border: 1px solid #233250;
}

.btn-create:hover {
  background-color: #233250;
}

.btn-dlt-modal {
  width: 100px;
  padding: 6px;
  color: #233250;
  background: none;
  border-radius: 10px;
  border: 1px solid #233250;
}

.btn-dlt-modal:hover {
  color: #ffffff;
  background-color: #233250;
}

.btn-delete {
  width: 100px;
  padding: 6px;
  color: #ffffff;
  background: #dc3545;
  border-radius: 10px;
  border: 1px solid #dc3545;
}

.btn-delete:hover {
  background-color: #c52a39;
}

.no-border {
  border: none !important;
}

.custom-modal-header {
  background-color: #233250; /* red shade or any color you prefer */
  color: #fff; /* text color */
  height: 60px; /* adjust height */
  display: flex;
  align-items: center;
  border: none !important;
}

.custom-modal-header .modal-title {
  font-size: 18px;
  font-weight: 600;
}

.custom-modal-header .btn-close {
  filter: invert(1); /* makes close icon white */
}

@media (max-width: 768px) {
  .btn-create,
  .btn-filter {
    width: 80px;
    font-size: 11px;
  }
}
