a{
    text-decoration: none;
 
  }



  .kot-header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    gap: 10px;
  }
  .kot-header-link {
    text-decoration: none;
    color: #3d51d8;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    cursor: pointer;
  }
  .kot-header-link:hover {
    border-bottom: 2px solid #3d51d8;
  }