@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --theme-bg-color: #233250;
  --theme-menu-bg-color: rgb(204, 204, 204);
  --theme-text-color: #474545;
  --theme-bg-category-color: #d5e4e6ba;
  --theme-bg-menu-color: #e7e6e6;

  background-color: #f1f1f1;
  font-family: Arial;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
}
.theme-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background-color: #405172;
  cursor: pointer;
}
.theme-btn:hover {
  background-color: #233250;
}
.theme-exit-btn {
  padding: 8px 12px;
  color: #000;
  /* background: #405172; */
  border-radius: 6px;
  border: 1px solid #233250;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.theme-exit-btn:hover {
  background-color: #405172;
  color: #fff;
}
